@import url(http://fonts.googleapis.com/css?family=Lato|Oswald);

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* TODO: Remove these notes

4924 top-bar

*/


/* CLEARFIX */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/* GENERIC */

body {
  background-image: url("/images/bg.jpg");
}


/* HEADER */

.banner {
  background-color: rgba(255, 255, 255, 1);
  background-image: url("/images/header_bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.add-new-box {
  border: 2px solid rgba(219, 129, 81, 1);
  height: 30px;
  margin: 12px 24px 0 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
}

#add-new {
  color: rgba(159, 69, 44, 1);
  font-size: 36px;
  margin: 10px 30px 0 0;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 0;
}

/* not working */
/*.add-new-box:hover {
  background-color: rgba(211, 89, 49, 1);
}

#add-new:hover {
  color: rgba(255, 255, 255, 1);
}*/


/* NAV */

.nav-bar {
  background-color: rgba(61, 61, 63, 1);
}

ul.main-nav {
  text-align: center;
}

li.nav-item {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  margin: 14px 2px;
  text-decoration: none;
  text-transform: uppercase;
}

li.nav-item.middot {
  color: rgba(133, 134, 137, 1);
}

li.nav-item a {
  color: rgba(133, 134, 137, 1);
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

li.nav-item a:hover {
  color: rgba(220, 92, 48, 1);
}


/* MAIN CONTENT */

.main-content {
  padding: 25px 0; /* Must account for .fastening margins */
}

.fastening {
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  margin: 10px auto;
  padding: 15px;
  width: 50%;
}

.fastening:hover {
  border: 5px solid rgba(224, 147, 47, 1);
}

.fastening .image {
  /* TODO-ALL: Remove all borders */
  /*border: 1px solid red;*/
  float: left;
  text-align: center;
  width: 25%;
}

.fastening .content {
  /*border: 1px solid red;*/
  box-sizing: border-box; /* TODO: Change to padding-box after completion */
  float: right;
  padding-left: 15px;
  width: 75%;
}

/* Placeholder images currently set at 200px x 140px */
.fastening .image img { /* TODO: Remove this if not necessary */
  height: auto;
  width: 100%;
}

h3.title {
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

div.metadata {
  margin-bottom: 15px;
}

div.metadata span {
  color: rgba(146, 147, 149, 1);
  font-size: 14px;
}

div.metadata div.middot-div {
  display: inline-block;
  margin: 0 5px;
  padding-bottom: 3px;
}

div.metadata div.middot-div div.middot {
  border: 2px solid rgba(129, 129, 132, 1);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

p.description {
  color: rgba(47, 46, 48, 1);
  font-size: 14px;
}


/* FOOTER */

html {
  background-color: rgba(61, 61, 63, 1);
}

footer {
  background-color: rgba(61, 61, 63, 1);
  text-align: center;
}

#facebook-logo, #instagram-logo {
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 25px;
  margin: 10px 4px;
  width: 25px;
}

#facebook-logo a, #instagram-logo a {
  display: block;
  height: 25px;
  width: 25px;
}

#facebook-logo {
  background-image: url("/images/facebook_grey.svg");
}

#facebook-logo:hover {
  background-image: url("/images/facebook_orange.svg");
}

#instagram-logo {
  background-image: url("/images/instagram_grey.svg");
}

#instagram-logo:hover {
  background-image: url("/images/instagram_orange.svg");
}


/* MEDIA QUERIES */

/* DESKTOP */
@media only screen and (min-width: 769px) {

} /* END DESKTOP */

/* TABLET */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* Main Content */
  .main-content {
    padding: 0 10px;
    width: auto;
  }

  .fastening {
    box-sizing: border-box;
    margin: 10px 0;
    width: 100%;
  }

  /* Footer */
  html {
    background-image: url("/images/bg.jpg");
  }

  body {
    background-color: transparent;
    background-image: none;
  }

  footer {
    display: none;
  }
} /* END TABLET */

/* MOBILE */
@media only screen and (max-width:480px) {
  /* Main Content */
  .main-content {
    padding: 0 10px;
    width: auto;
  }

  .fastening {
    box-sizing: border-box;
    margin: 10px 0;
    width: 100%;
  }

  div.metadata div.middot-div.mobile {
    display: none;
  }

  .views {
    display: none;
  }

  p.description {
    display: none;
  }

  /* Footer */
  html {
    background-image: url("/images/bg.jpg");
  }

  body {
    background-color: transparent;
    background-image: none;
  }

  footer {
    display: none;
  }
} /* END MOBILE */




