@import url(http://fonts.googleapis.com/css?family=Lato|Oswald);

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* TODO: Remove these notes

4924 top-bar

*/


/* CLEARFIX */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/* GENERIC */

body {
  background-image: url("/images/bg.jpg");
}


/* HEADER */

.banner {
  background-color: rgba(255, 255, 255, 1);
  background-image: url("/images/header_bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.add-new-div {
  padding: 12px 12px 0 0;
  position: absolute;
  right: 0;
  top: 0;
}

#add-new {
  border: 2px solid rgba(219, 129, 81, 1);
  padding: 5px;
}


/* NAV */

.nav-bar {
  background-color: rgba(61, 61, 63, 1);
}

ul.main-nav {
  text-align: center;
}

li.nav-item {
  color: rgba(133, 134, 137, 1);
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  margin: 14px 2px;
  text-decoration: none;
  text-transform: uppercase;
}

li.nav-item a {
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

li.nav-item a:hover {
  color: rgba(220, 92, 48, 1); /* TODO: Not working */
}

li.nav-item a:visited {
  color: rgba(133, 134, 137, 1);
}


/* MAIN CONTENT */

.main-content {
  margin: 0 auto;
  padding: 25px 0; /* Must account for .fastening margins */
  width: 60%;
}

.fastening {
  background-color: rgba(255, 255, 255, 1);
  display: inline-block;
  font-family: 'Lato', sans-serif;
  margin: 10px 10px;
  padding: 20px;
  vertical-align: top;
  width: 40%;
}

/* Placeholder images for easymode: 200px x 140px */
/* Placeholder images for hardmode: 260px x 160px */
.fastening .image img {
  height: auto;
  width: 100%;
}

h3.title {
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  margin-top: 15px;
}

div.metadata {
  margin-bottom: 15px;
}

div.metadata span {
  color: rgba(146, 147, 149, 1);
  font-size: 14px;
}

div.metadata div.middot-div {
  display: inline-block;
  margin: 0 5px;
  padding-bottom: 3px;
}

div.metadata div.middot-div div.middot {
  border: 2px solid rgba(129, 129, 132, 1);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

p.description {
  color: rgba(47, 46, 48, 1);
  font-size: 14px;
}


/* FOOTER */

html {
  background-color: rgba(61, 61, 63, 1);
}

footer {
  background-color: rgba(61, 61, 63, 1);
  text-align: center;
}

footer a img {
  margin: 10px 4px;
}


/* MEDIA QUERIES */

/* DESKTOP */
@media only screen and (min-width: 769px) {

} /* END DESKTOP */

/* TABLET */
@media only screen and (min-width: 481px) and (max-width: 768px) {

} /* END TABLET */

/* MOBILE */
@media only screen and (max-width:480px) {

} /* END MOBILE */
